@model SiteWebJediTournament.Models.MatchModels

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>MatchModels</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Jedi1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select name="jediselect1" id="jediselect1">
                    <option value="@Model.Jedi1.Jedi.Id">@Model.Jedi1.Jedi.Nom</option>
                    @Html.Action("ListJedi", "Jedi")
                </select>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Jedi2, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select name="jediselect2" id="jediselect2">
                    <option value="@Model.Jedi2.Jedi.Id">@Model.Jedi2.Jedi.Nom</option>
                    @Html.Action("ListJedi", "Jedi")
                </select>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PhaseTournoi, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select name="myselect" id="myselect">
                    <option value="@Model.PhaseTournoi">@Model.PhaseTournoi</option>
                    <option value="HuitiemeFinale">HuitiemeFinale</option>
                    <option value="QuartFinale">QuartFinale</option>
                    <option value="DemiFinale">DemiFinale</option>
                    <option value="Finale">Finale</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Stade, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select name="stadeselect" id="stadeselect">
                    <option value="@Model.Stade.Stade.Id">@Model.Stade.Stade.Planete</option>
                    @Html.Action("ListStade", "Stade")
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
