@model SiteWebJediTournament.Models.CaracteristiqueModels

@{
    ViewBag.Title = "Création de Caractéristique";
}

<h2>Création de Caractéristique</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        <hr />
        <h4>Propriétés</h4>
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.Def, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Def)
                @Html.ValidationMessageFor(model => model.Def)
            </div>
            <!--<div class="col-md-10">
                <select name="def" id="phaseselect">
                    <option value="Chance">Chance</option>
                    <option value="Force">Force</option>
                    <option value="Defense">Défense</option>
                    <option value="Sante">Santé</option>
                </select>
            </div>-->
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nom, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nom)
                @Html.ValidationMessageFor(model => model.Nom)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Type)
                @Html.ValidationMessageFor(model => model.Type)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Valeur, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Valeur)
                @Html.ValidationMessageFor(model => model.Valeur)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Créer" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Retour à la liste", "Index", null, htmlAttributes: new { @class = "btn btn-primary" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
