@model SiteWebJediTournament.Models.JediModels

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>JediModels</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsSith)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsSith)
        </dd>
    </dl>
    <h5 @Html.DisplayNameFor(model => model.Caracts)></h5>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Caracts.Default.Def)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Caracts.Default.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Caracts.Default.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Caracts.Default.Valeur)
            </th>
        </tr>

        @foreach (var item in Model.Caracts.List)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Def)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Valeur)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
