@model SiteWebJediTournament.Models.TournoiModels

<div>
    <h4>Modification de @Html.DisplayFor(model => Model.Nom) - @Html.DisplayFor(model => Model.Matches.List[0].PhaseTournoi) </h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

    </dl>
    <h5 @Html.DisplayNameFor(model => model.Matches)></h5>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Matches.Default.Jedi1.Default.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Matches.Default.Jedi2.Default.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Matches.Default.Stade.Default.Planete)
            </th>
                <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Matches.List)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Jedi1.Jedi.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Jedi2.Jedi.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stade.Stade.Planete)
                </td>
                <td>
                        @Html.ActionLink("Modifier", "../Match/Edit", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-warning btn-xs" })
                        @Html.ActionLink("Détails", "../Match/Details", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-info btn-xs" })
                        @Html.ActionLink("Supprimer", "../Match/Delete", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-danger btn-xs" })
                </td>
            </tr>
        }
        </tbody>

    </table>

</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="form-horizontal">
        <h4>Lancer le tournoi</h4>
        <hr />

        <div class="form-group">
            Your money : <br />
            <div class="col-md-10">
                <input class="text-box single-line" data-val="true" data-val-number="Le champ A parier doit être un nombre." 
                       data-val-required="Le champ A parier est requis." id="bet" name="bet" readonly="readonly" type="number" value=@Model.bank />
                <span class="field-validation-valid" data-valmsg-for="bet" data-valmsg-replace="true"></span>
            </div>
        </div>


        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.bet, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.bet)
                @Html.ValidationMessageFor(model => model.bet)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.jediBet, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select name="jediBet" id="jediBet">
                    @Html.Action("ListJedi", "Jedi")
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>



    </div>
}

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
