@model SiteWebJediTournament.Models.StadeModels

@{
    ViewBag.Title = "Suppression d'un stade";
}

<h2>Suppression d'un stade</h2>

<h3>Etes-vous bien sûr de vouloir supprimer ce stade ?</h3>
<div>
    
    <hr />
    <h4>Propriétés</h4>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Planete)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Planete)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NbPlaces)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NbPlaces)
        </dd>

    </dl>
    <h4>@Html.DisplayNameFor(model => model.Caracts)</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Caracts.Default.Def)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Caracts.Default.Nom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Caracts.Default.Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Caracts.Default.Valeur)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Caracts.List)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Def)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Valeur)
                    </td>
                </tr>
            }
        </tbody>

    </table>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-danger" /> 
            @Html.ActionLink("Retour à la liste", "Index", null, htmlAttributes: new { @class = "btn btn-primary" })
        </div>
    }
</div>
