@model SiteWebJediTournament.Models.StadeModels

@{
    ViewBag.Title = "Détails sur un stade";
}

<h2>Détails sur un stade</h2>

<div>
    
    <hr />
    <h4>Propriétés</h4>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Planete)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Planete)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NbPlaces)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NbPlaces)
        </dd>

    </dl>
    <hr />
    <h4>@Html.DisplayNameFor(model => model.Caracts)</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Caracts.Default.Def)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Caracts.Default.Nom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Caracts.Default.Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Caracts.Default.Valeur)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Caracts.List)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Def)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Valeur)
                    </td>
                    <td>
                        @Html.ActionLink("Modifier", "../Caracteristique/Edit", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-warning btn-xs" })
                        @Html.ActionLink("Détails", "../Caracteristique/Details", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-info btn-xs" })
                        @Html.ActionLink("Supprimer", "../Caracteristique/Delete", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-danger btn-xs" })
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>
<p>
    @Html.ActionLink("Modifier", "Edit", new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-warning" })
    @Html.ActionLink("Retour à la liste", "Index", null, htmlAttributes: new { @class = "btn btn-primary" })
</p>
